html, body {
    height: 100%;
    margin: 0;
}

.navbar {
    width: 100%;
}

.container {
    min-height: 80%;
}

.content {
    padding: 20px;
    padding-bottom: 50px;
}

#footer {
    height: 50px;
    margin-top: -50px;
}

.card-item {
    margin-top: 14px;
}

.product-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.image-home {
    width: 160px;
    height: 160px;  
}

.name-home {
    font-size: 12px;
}

.product-image {
    width: 360px;
    height: 360px;
}

.quantity-form {
    width: 100px;
    margin-right: 4px;
}

.cart-icon {
    color: white;
}

.error {
    color: red;
}

.success {
    color: green;
}

.main-wrapper {
    height: 100vh;
}

.center {
    position: absolute;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -140px; /* margin is -0.5 * dimension */
    margin-top: -25px; 
}

.verify {
    margin-top: 35%;
    
}

.auth-box {
    position: relative;
    width: 420px;
    margin: 0 auto; 
}

.acknowledgement {
    font-size: 12px;
    color: rgba(133, 133, 133, 0.986);
}

.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h2{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-menu{
    padding: 14%;
    margin-top: -15%;
}
.profile-menu p{
    font-size: 20px;
    color: #000000;
    font-weight: 600;
    margin-top: 10%;
}
.profile-menu a{
    text-decoration: none;
    color: #5c5e5f;
    font-weight: 600;
    font-size: 14px;
}
.profile-menu ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

.verified-icon {
    color: green;
}


.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dropdown{
	float:right;
}
.btn-cart{
	border:0px;
	margin:10px 0px;
	box-shadow:none !important; 
}
.dropdown .dropdown-menu{
	padding:20px;
	top:52px !important;
	width:460px !important;
    max-height: 500px;
	left:-385px !important;
	box-shadow:0px 5px 30px black;
}
.btn-checkout {
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 50px;
    text-align: center;
}
.cart-items {
    height: 330px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    
}
.total-header-section{
	border-bottom:1px solid #d2d2d2;
}
.total-section p{
	margin-bottom:20px;
}
.cart-detail{
	padding:15px 0px;
}
.cart-detail-img img{
	width:100%;
	height:100%;
	padding-left:15px;
}
.cart-detail-product p{
	margin:0px;
	color:#000;
	font-weight:500;
}
.cart-detail .price{
	font-size:16px;
	margin-right:4px;
	font-weight:500;
    float:right;
}
.cart-detail .count{
	color: rgba(108, 117, 240, 0.89);
    font-size: 14px;
}
.checkout{
	border-top:1px solid #d2d2d2;	
	padding-top: 15px;
}
.checkout .btn-primary{
	border-radius:50px;
	height:50px;
}
.dropdown-menu:before{
  content: " ";
  position:absolute;
  top:-20px;
  right:50px;
  border:10px solid transparent;
  border-bottom-color:#fff; 
}

::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
    background-color: #fff;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
    display:none;
}

// checkout

.emp-checkout{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.checkout-head h2{
    color: #0062cc;
}

.checkout-cart-items {
    max-height: 500px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.item-price-details {
    display: inline;
}

// pagination

.page {
    width: 50px; 
    height: 50px; 
    padding: 12px; 
    border-radius: 25px; 
    font-size: 15px;
    color: black;
    margin-left: 12px;
    border:  2px solid;
    border-color: white;
}

.page:hover {
    background-color: white;
    color: black;
    border-color: #4A84E9;
}

