
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://source.unsplash.com/LAaSoL0LrYs/1920x1080')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">First Slide</h2>
          <p class="lead">This is a description for the first slide.</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://source.unsplash.com/bF2vsubyHcQ/1920x1080')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Second Slide</h2>
          <p class="lead">This is a description for the second slide.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://source.unsplash.com/szFUQoyvrxM/1920x1080')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Third Slide</h2>
          <p class="lead">This is a description for the third slide.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

  <!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h1 class="display-4">Full Page Image Slider</h1>
        <p class="lead">The background images for the slider are set directly in the HTML using inline CSS. The images in this snippet are from <a href="https://unsplash.com">Unsplash</a>, taken by <a href="https://unsplash.com/@joannakosinska">Joanna Kosinska</a>!</p>
  </div>
</section>

<div class="mt-4">
    <div class="row">
        
        <div class="col-sm-6 col-lg-3">
            <div class="card card-item align-items-center" style="height: 17rem; border: none">
                <a href="category/video-games" style="text-decoration : none; color : #000;">
                    <img class="card-img-top image-home mt-2 rounded mx-auto d-block" src="//i5.walmartimages.com/asr/a3a343b8-50cd-4d19-9e61-aba51ae7fc8b.bf7d25dcd3a4736af7e5f245d37f6a56.jpeg?odnWidth=612&odnHeight=612&odnBg=ffffff 1x" alt="Card image cap">
                    <h5 class="card-title name-home rounded text-center">Video games</h5>
                </a>     
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card card-item align-items-center" style="height: 17rem; border: none">
                <a href="category/electronics" style="text-decoration : none; color : #000;">
                    <img class="card-img-top image-home mt-2 rounded mx-auto d-block" src="//i5.walmartimages.com/asr/ded72051-ba21-41dd-9130-cd0f591e7087.03d49a2a3f4fb25f04d4c2250be7ddc2.jpeg?odnWidth=612&odnHeight=612&odnBg=ffffff" alt="Card image cap">
                    <h5 class="card-title name-home rounded text-center">Electronics</h5>
                </a>     
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card card-item align-items-center" style="height: 17rem; border: none">
                <a href="category/clothes" style="text-decoration : none; color : #000;">
                    <img class="card-img-top image-home mt-2 rounded mx-auto d-block" src="//i5.walmartimages.com/asr/d1c76524-e12d-4ae0-bbcc-5585fcb40810_1.d710073454ac4ce8dbef54c72841548f.jpeg?odnWidth=612&odnHeight=612&odnBg=ffffff" alt="Card image cap">
                    <h5 class="card-title name-home rounded text-center">Clothes</h5>
                </a>     
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card card-item align-items-center" style="height: 17rem; border: none">
                <a href="category/furnitures" style="text-decoration : none; color : #000;">
                    <img class="card-img-top image-home mt-2 rounded mx-auto d-block" src="//i5.walmartimages.com/asr/e904f1f4-9f24-4dd4-a601-c421eb0c13d1.1443219aed9c0f4562a48eb309277aa0.jpeg?odnWidth=612&odnHeight=612&odnBg=ffffff" alt="Card image cap">
                    <h5 class="card-title name-home rounded text-center">Furniture</h5>
                </a>     
            </div>
        </div>
    </div>
</div>