<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-8 mt-4">
            <div class="verify text-center">
                <h2 style="font-size: 40px; color: green">Thank you for your purchase</h2>
                <p style="font-size: 15px">You can close this page now or</p>
                <a class="btn btn-outline-success" href="/">Back to store</a>
            </div>
        </div>
        <div class="col-sm"></div>
    </div>
</div>