<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-md">
            <div class="mt-4 text-center">
                <h2>Forgot your password?</h2>
            </div>
            <div class="mt-4">
                <p>Enter the email address for your account. We'll send an email for you to reset your password.</p>
            </div>
            <form class="mt-4" name="forgot-password-form" action="/account/forgot-password">
                <div class="form-group">
                    <div class="email-error error"></div>
                    <div class="email-success success"></div>
                    <input type="email" class="form-control auth-box" id="email" name="email" aria-describedby="emailHelp" placeholder="Email address" required>
                    <div class="email-error"></div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                </div>
            </form>
            <div class="mt-4">
                <p>Remember your password? <a href="/account/sign-in" style="text-decoration:none">Sign in</a></p>
            </div>
        </div>
        <div class="col-sm"></div>
    </div>
</div>

<script>

    const forgotPasswordForm = document.querySelector('[name="forgot-password-form"]');
    const emailError = document.querySelector('.email-error');
    const emailSuccess = document.querySelector('.email-success');

   
    forgotPasswordForm.addEventListener('submit', async (e) => {
        e.preventDefault();
        const email = forgotPasswordForm.email.value;

        // Reset errors
        emailError.textContent = '';
        emailSuccess.textContent = '';

        try {
            const res = await fetch('/account/forgot-password', {
                method: 'PUT',
                body: JSON.stringify({email: email}),
                headers: {'Content-Type': 'application/json'},
            });

            const data = await res.json();

            if(data.errors) {
                emailError.textContent = data.errors.email;
            }
            if(data.user) {
                emailSuccess.textContent = `An email has been sent to ${email}. Please follow instructions to reset your password`;
            }

        }
        catch(err) {
            console.log(err);
        }


    })

</script>