<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <form class="sign-up-form mt-4" name="sign-up-form" action="/account/sign-up">
                <h2 class="text-center">Create your account</h2>
                <div class="form-group mt-4">
                    <input type="text" class="form-control auth-box" id="firstName" name="firstName" placeholder="First name" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control auth-box" id="lastName" name="lastName" placeholder="Last name" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control auth-box" id="email" name="email" aria-describedby="emailHelp" placeholder="Email address" required>
                    <div class="email-error error text-center"></div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control auth-box" id="password" name="password" placeholder="Create a password" required>
                    <div class="password-error error text-center"></div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control auth-box" id="confirm" name="confirm" placeholder="Confirm your password" required>
                    <div class="confirm-error error text-center"></div>
                </div>
                <div class="text-center">
                    <p class="acknowledgement">By clicking Create Account, you acknowledge you have read and agreed to our <a href="#">Terms of Use</a>  and <a href="#">Privacy Policy</a>.</p>
                    <button type="submit" class="btn btn-outline-success">Create account</button>
                </div>
                <div class="text-center">
                    <p class="mt-4">Already have an account?</p>
                    <a class="btn btn-outline-primary" href="/account/sign-in">Sign in to your account</a>
                </div>
            </form>
        </div>
        <div class="col-sm"></div>
    </div>
</div>




<script>
    
    
    const signUpForm = document.querySelector('[name="sign-up-form"]');
    const emailError = document.querySelector('.email-error');
    const passwordError = document.querySelector('.password-error');
    const confirmPasswordError = document.querySelector('.confirm-error')
    const success = document.querySelector('.sign-up-success');

    signUpForm.addEventListener('submit', async (e) => {
        e.preventDefault();

        // Reset error 
        emailError.textContent = '';
        passwordError.textContent = '';
        confirmPasswordError.textContent = '';

        const email = signUpForm.email.value;
        const password = signUpForm.password.value;
        const firstName = signUpForm.firstName.value;
        const lastName = signUpForm.lastName.value;
        const confirmPassword = signUpForm.confirm.value;

        
        try {
            
            if(confirmPassword !== password) {
                confirmPasswordError.textContent = 'Your password does not match';
                return;  
                
            }

            const res = await fetch('/account/sign-up', {
                method: 'POST',
                body: JSON.stringify({firstName, lastName, email, password}),
                headers: {'Content-Type': 'application/json'},
            });
            const data = await res.json();


            if(data.errors) {
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
            }

            if(data.user) {
                location.assign(`/account/sign-up/verify/${data.user}`);
            }
        }
        catch(err) {
            console.error(err);
        }
    });

    
    
</script>