<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-8 mt-4">
            <div class="verify">
                <h2 class="text-center success" style="font-size: 40px">Your account has been activated</h2>
                <p class="text-center" style="font-size: 15px">You can close this page now</p>
            </div>
        </div>
        <div class="col-sm"></div>
    </div>
</div>