<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-8 mt-4">
            <div class="verify text-center">
                <h2 style="font-size: 40px; color: green">Your account has been activated</h2>
                <p style="font-size: 15px">You can close this page now</p>
                <a class="btn btn-outline-success" href="/account/sign-in">Sign in now</a>
            </div>
        </div>
        <div class="col-sm"></div>
    </div>
</div>